**/*-bak
**/*.bak
**/*.bck
**/*-cache.lib
**/*.dcm
**/fp-info-cache
**/*.kicad_pcb-bak
**/*.lib
**/pizero_hat.step
**/plots/
**/*-rescue.dcm
*-rescue.lib
**/*.sch-bak
**/*.sch-bak
**/*.step
**/sym-lib-table
**/sym-lib-table
**/*.xml
